body {
  margin : 0px;
  font-family: arial, sans-serif;
}

h1 {
  margin-left: 30px;
  color: #336699;	
}

.formHolder{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.submit {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	
	background-color:#336699;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #336699;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

#word {
  padding: 5px 5px;
  font-size: 16px;
}

#abstracts {
 margin-left: 30px;
 margin-right: 15px; 	
}

.abstract{
  margin-bottom: 15px;
}

.source {
  font-style: italic;
  color: #336699;
}

#topPanel {
  background-color: #336699;
  color:#ffffff;
  font-size: 24px;
  padding:10px 24px;
}